<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../js/jquery.min.js"></script>
    <link href="../js/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap.min.js"></script>
    <style>
        table {
        width: 100%;
        }

        table, th, td {
        border: 1px solid black;
        }

        th {
        text-align: center;
        background: darkseagreen;
        color: #fff;
        }

        td {
        text-align: center;
        }
    </style>

</head>
<body>
<div class="container">
    <div align="center">
        <img src="../img/airtel-Logo2.png">
    </div>
    <h4 class="text-center">Friends & Family Manager</h4>
    <hr/>
    <div class="well well-sm">
        <table>
            <tr>
                <th colspan="2">Add FNF</th>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="016xxxxxxxx"
                           id="addcontactnumber"></input>
                </td>
                <td>
                    <button class="btn btn-block" id="addcontact">
                        <span class="glyphicon glyphicon-user" data-number="7353" data-message="Add {{ phoneNumber[1] }}" ng-disabled="phoneNumber[1] == undefined || phoneNumber[1].length != 11"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-success btn-block" type="button" style="width: 100%"
                            data-message="Add" data-number="7353" id="addactive">Active
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="well well-sm">
        <table>
            <tr>
                <th colspan="2">DELETE FNF</th>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="016xxxxxxxx" id="deletecontactnumber"></input>
                </td>
                <td>
                    <button class="btn btn-block" id="deletecontact">
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                </td>
            <tr>
                <td colspan="2">
                    <button class="btn btn-success btn-block" type="button" style="width: 100%"
                            data-message="Delete" id="deleteactive">Active
                    </button>
                </td>
            </tr>

            </tr>
        </table>
    </div>
    <div class="well well-sm">
        <table>
            <tr>
                <th colspan="2">List FNF</th>
            </tr>
            <tr>
                <td rowspan="2">
                    <button class="btn btn-success btn-block ussd" type="button" style="width: 100%"
                            data-ussd="*121*4*3#">*121*4*3#
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
        $(document).ready(function () {
            $(".ussd").click(function () {
                var a = $(this).attr('data-ussd');
                var b=confirm("");
                if(b)
                Android.dialUSSD(a);
            });
            $(".msg").click(function () {
                var message = $(this).attr('data-message');
                var number = $(this).attr('data-number');
                var b=confirm("");
                if(b)
                Android.sentSms(message+"?"+number);
            });
            $("#addcontact").click(function(){
					var a=Android.getContact();
					$('#addcontactnumber').val(a);
			});
			$("#addactive").click(function(){
					var message=$('#addcontactnumber').val();
					var b=confirm("");
                    if(b)
					Android.sentSms("Add "+message+"?"+7353);
			});
			$("#deletecontact").click(function(){
					var a=Android.getContact();
					$('#deletecontactnumber').val(a);
			});
			$("#deleteactive").click(function(){
					var message=$('#deletecontactnumber').val();
					var b=confirm("");
                    if(b)
					Android.sentSms("Delete "+message+"?"+7353);
			});
        });
</script>
</body>
</html>